<div id="<%= dom_id shopper %>">
  <p>
    <strong>Name:</strong>
    <%= shopper.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= shopper.email %>
  </p>

  <p>
    <strong>Nif:</strong>
    <%= shopper.nif %>
  </p>

</div>
