<div id="<%= dom_id merchant %>">
  <p>
    <strong>Name:</strong>
    <%= merchant.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= merchant.email %>
  </p>

  <p>
    <strong>Cif:</strong>
    <%= merchant.cif %>
  </p>

</div>
