<h1>Editing disbursement</h1>

<%= render "form", disbursement: @disbursement %>

<br>

<div>
  <%= link_to "Show this disbursement", @disbursement %> |
  <%= link_to "Back to disbursements", disbursements_path %>
</div>
