<h1>Editing order fee</h1>

<%= render "form", order_fee: @order_fee %>

<br>

<div>
  <%= link_to "Show this order fee", @order_fee %> |
  <%= link_to "Back to order fees", order_fees_path %>
</div>
